.w-150 [data-name="name"] {
    width: 150px !important;
    max-width: unset !important;
}

/* Menu de notificaciones */
.o_menu_systray .o_mail_systray_item,
/* Menu de mensajes */
.o_menu_systray .o_MessagingMenu,
/* Checkbox para seleccionar multiples empresas */
.o_menu_systray .o_switch_company_menu [role="menuitemcheckbox"],
/* Menu usuario - Documentacion */
.o_menu_systray .o_user_menu [data-menu="documentation"],
/* Menu usuario - Soporte */
.o_menu_systray .o_user_menu [data-menu="support"],
/* Menu usuario - Mi Cuenta */
.o_menu_systray .o_user_menu [data-menu="account"] {
    display: none;
}