/* Esto anda pero por el momento no es necesario */
/* img {
    display: none !important;
} */

/* TODO: no esta andando todavia */
/* a[href='/web/database/selector'],
a[href='https://www.odoo.com?utm_source=db&amp;utm_medium=auth'] {
    display: none;
} */

#wrapwrap {
    background-color: #5B6670;
}

/* .btn-primary {
    background-color: #1D3557;
    border-color: #1D3557;
} */